<app-menu></app-menu>
<br>
<br>
<div div class="form-group row">
<form class="px-4 py-3" (ngSubmit)="verificarCredenciales(email.value, password.value)">
  <div class="form-group">
    <label for="staticEmail" class="col-sm-2 col-form-label">Correo</label>
    <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" #email required>
    <div id="emailHelp" ></div>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
    <input type="password"  id="exampleInputPassword1" #password required>
  </div>
  <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
</div>
