<app-menu></app-menu>
<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
  <div class="carousel-indicators">
    <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators"
      type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1"
      data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3"
      data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
  </div>
