<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Instituto</a>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a *ngIf="credencialesCorrectas" class="nav-link" routerLink="/alumno">Tablero</a>
          <a *ngIf="!credencialesCorrectas" class="nav-link" routerLink="/tabla-alumno">Tablero</a>
        </li>
        <li class="nav-item">
          <a *ngIf="credencialesCorrectas" (click)="cerrarSesion()" class="nav-link" routerLink="/">Cerrar Sesión</a>
          <a class="nav-link" routerLink="/login" *ngIf="!credencialesCorrectas">Iniciar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

