<H1>lista de alumnos</H1>
<hr>
<div class="row">
  <div class="cool text-right">
    <button routerLink="alumno/nuevo"
     class="btn btn-primary">
    <i class="fa fa-plus"></i>
    Agregar
  </button>
  </div>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Sexo</th>
            <th scope="col">Correo</th>
            <th scope="col">Aprobado/Reprobado</th>
            <th scope="col">Grupo</th>
            <th scope="col">Carrera</th>
            <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>

  </tbody>
</table>
