<H1>lista de alumnos</H1>
<hr>
<div class="row">
  <div class="cool text-right">
    <a class="btn btn-primary" routerLink="/registro/nuevo" role="button">Registrar nuevo alumno</a>
  </div>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Sexo</th>
            <th scope="col">Correo</th>
            <th scope="col">Aprobado/Reprobado</th>
            <th scope="col">Grupo</th>
            <th scope="col">Carrera</th>
            <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>jpg.a13sx2j123ijox213123</td>
      <td>Aaron</td>
      <td>Macarena</td>
      <td>Hembra</td>
      <td>Davidconde.com</td>
      <td>Reprobado</td>
      <td>a3</td>
      <td>Programacion</td>
      <td></td>
    </tr>

  </tbody>
</table>
